
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#mc_table{
height:320px!important;
}
.listAlign{
margin-left:20px!important;
}

.listAlign1{
margin-left:14px!important;
}

#txt_q3, #txt_q5, #txt_q11, #txt_q12, #txt_q14, #txt_q15{
	margin-top:9px !important;
	}
	
#txt_q15{
	margin-top:14px !important;
	}


@media only screen and (device-width: 768px) {
#txt_q7, #txt_q8, #txt_q9, #txt_q10, #txt_q13{
margin-top:8px !important;
}
#txt_q11, #txt_q12{
margin-top:14px !important;
}
}