
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
    margin:0;
    height:98%;

}
#flashContent {
    width:98%;
    height:98%;
}
#ID_txt04,#ID_txt05{
width: 320px !important;
margin-top: -8px !important;
}