
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

@media only screen and (device-width: 768px) {
	#ID_static_5, #ID_static_10, #ID_static_15, #ID_static_20, #ID_static_25, #ID_static_30 {
		letter-spacing: -0.8px;
	}
}

@media only screen and (device-width: 768px) {
	#ID_static_4, #ID_static_9, #ID_static_14, #ID_static_19, #ID_static_24, #ID_static_29 {
		letter-spacing: -0.9px;
	}
}

#ID_static_9, #ID_static_4, #ID_static_14, #ID_static_19, #ID_static_24, #ID_static_29{
	left: -3px !important;
}

@media only screen and (device-width: 768px) {
	#ID_static_9, #ID_static_4, #ID_static_14, #ID_static_19, #ID_static_24, #ID_static_29{
	left: -3px !important;
	letter-spacing: -0.8px !important;
    }
}