
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

/*#statictext2{
	border: 1px solid red;
}*/
#ID_s1_txt04{width:150px !important;letter-spacing:-0.3px;}
#ID_s1_txt02{letter-spacing:-0.5px;}
#ID_s1_txt03{letter-spacing:-0.3px;line-height:11px;}
@media only screen and (device-width: 768px) {
	#ID_static_5 {
		letter-spacing: -0.8px;
	}
}
#ID_static_1,#ID_static_2,#ID_static_3 {
		left: -6px !important;
		letter-spacing: -0.8px;
		
	}
	#ID_static_7 ,#ID_static_8{
		left: -4px !important;
		letter-spacing: -0.8px;
		
	}
@media only screen and (device-width: 768px) {
	#ID_static_7 ,#ID_static_8{
		left: -4px !important;
		letter-spacing: -0.8px;
		
	}
}

@media only screen and (device-width: 768px) {
	#ID_static_1,#ID_static_2,#ID_static_3 {
		left: -6px !important;
		letter-spacing: -0.8px;
		
	}
}
