
/*   load the main media CSS file    */

@import url('../../../common/styles/media2.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden;
}

img.img1{width:450px ! important;}
	
#imgId0 img { width:723px !important; height:580px !important;}

 

.textboxheader{color:#3E254D;}

 