@import url(../../../common/styles/media2.css);

html,body {
	height:98%;
	margin:0;
}

#flashContent {
	width:98%;
	height:98%;
}
.static192{
	letter-spacing:-0.4px !important;
}


#htmlMedia{
	margin-top: 11px;
}
#ID_static_21,#ID_static_22,#ID_static_24,#ID_static_23,#ID_static_25,#ID_static_13{
	top:-25px !important;
}
@media only screen and (device-width: 768px) {
	#ID_static_21,#ID_static_22,#ID_static_24,#ID_static_23,#ID_static_25,#ID_static_13{
	top:-25px !important;
}
	}

#ID_static_24,#ID_static_24,#ID_static_03,#ID_static_34,#ID_static_11,#ID_static_29,#ID_static_39,#ID_static_4,#ID_static_19{
	left: -16px !important;
}
@media only screen and (device-width: 768px) {
	#ID_static_21,#ID_static_22,#ID_static_24,#ID_static_23,#ID_static_25,#ID_static_13{
	top:-25px !important;
}
	}

#ID_static_26,#ID_static_27,#ID_static_29,#ID_static_28,#ID_static_30,#ID_static_14{
	top:-29px !important;
}
@media only screen and (device-width: 768px) {
	#ID_static_26,#ID_static_27,#ID_static_29,#ID_static_28,#ID_static_30,#ID_static_14{
	top:-29px !important;
}
	}

#ID_static_31,#ID_static_32,#ID_static_34,#ID_static_33,#ID_static_35,#ID_static_15{
	top: 9px !important;
}
@media only screen and (device-width: 768px) {
	#ID_static_31,#ID_static_32,#ID_static_34,#ID_static_33,#ID_static_35,#ID_static_15{
	top: 9px !important;
}
	}
#ID_static_8,#ID_static_9,#ID_static_11,#ID_static_10,#ID_static_12,#ID_static_7{
	top:5px !important;
}
@media only screen and (device-width: 768px) {
	#ID_static_8,#ID_static_9,#ID_static_11,#ID_static_10,#ID_static_12,#ID_static_7{
	top:5px !important;
}
	}

#ID_static_36,#ID_static_37,#ID_static_39,#ID_static_38,#ID_static_40,#ID_static_6{
	top: 17px !important;
}
@media only screen and (device-width: 768px) {
	#ID_static_36,#ID_static_37,#ID_static_39,#ID_static_38,#ID_static_40,#ID_static_6{
	top: 17px !important;
}
	}

#ID_static_00{
	top:-34px !important;
}
@media only screen and (device-width: 768px) {
	#ID_static_00{
	top:-34px !important;
}
	}
#ID_static_01{
	top: -79px !important;
}
@media only screen and (device-width: 768px) {
	#ID_static_01{
	top: -79px !important;
}
	}

#ID_static_02,#ID_static_05,#ID_static_03{
	top: -33px !important;
}
@media only screen and (device-width: 768px) {
	#ID_static_02,#ID_static_05,#ID_static_03{
	top: -33px !important;
}
	}



#ID_static_04{
	top:-32px !important;
}

@media only screen and (device-width: 768px) {
	#ID_static_04{
	top:-32px !important;
}
	}